__pycache__/
*.py[cod]
log*/
*$py.class
.DS_Store
*.egg-info*/
.*.swp
*.sh.*
.ipynb_checkpoints/
out*
*.out
*.mp4
*.gif
*.webp
.vscode
*.pkl
.ruff_cache
*.log
*.npy

MJDATA.TXT
MJMODEL.TXT
MUJOCO_LOG.TXT

# Virtual env name
/env/
